<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <div class="card-container" id="info">
        <div class="cards ">
            <ul>
                <li>
                    <img src="/public/assets/shoe1main.png" alt="">
                </li> 
                 <li><div class="info">
                    <h2 style="font-weight: 700;">Nike Maxfly 2 Electric</h2>
                    <h2 style="font-weight: 700;">Athletics Sprinting Spikes</h2>
                    <h4 style="padding-top: 35px;">MRP : ₹ 17 595.00</h4>
                    <p style="color: rgba(128, 128, 128, 0.649);">incl. of taxes(Also includes all applicable duties)</p>
                    <br>
                    <button style="margin-left: 0;">S</button>
                    <button>L</button>
                    <button>Xl</button>
                    <br><button id="favourite">Favourite <svg style="background-color: #242424; height:20px
                        " xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg></button>
                    <p style="padding-top: 40px; padding-right: 30px; color: grey;">Fit for the world's fastest, the Maxfly 2 is back in the starting blocks. Designed for the 100 metres to 400 metres (hurdle events too), it combines an ultra-aggressive feel with the responsiveness of an Air Zoom unit to propel the speediest sprinters on the planet.</p>
                 </div></li>
                 <li>
                    <div class="shoepics">
                        <a href=""><img src="/public/assets/shoe1.1.png" alt="" srcset=""></a>
                        <a href=""><img src="/public/assets/shoe1.2.png" alt="" srcset=""></a>
                        <a href=""><img src="/public/assets/shoe1.3,png.png" alt="" srcset=""></a>
                        <a href=""><img src="/public/assets/shoe1.3.png" alt="" srcset=""></a>
                        <a href=""><img src="/public/assets/shoe1.5.png" alt="" srcset=""></a>
                    </div>
                 </li>
            </ul>
        </div>
        <div class="cards ">
            <ul>
                <li>
                    <img src="/public/assets/shoe2main.png" alt="">
                </li> 
                 <li><div class="info">
                    <h2 style="font-weight: 700;">Nike Alphafly 3 Electric
                       </h2>
                    <h2 style="font-weight: 700;"> Men's Road Racing Shoes</h2>
                    <h4 style="padding-top: 35px;">MRP : ₹ 23 495.00</h4>
                    <p style="color: rgba(128, 128, 128, 0.649);">incl. of taxes(Also includes all applicable duties)</p>
                    <br>
                    <button style="margin-left: 0;">S</button>
                    <button>L</button>
                    <button>Xl</button>
                    <br><button id="favourite">Favourite <svg style="background-color: #242424; height:20px
                        " xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg></button>
                    <p style="padding-top: 40px; padding-right: 30px; color: grey;">Fine-tuned for marathon speed, the Alphafly 3 helps push you beyond what you thought possible.Three innovative technologies power your run: a double dose of Air Zoom units helps launch you into your next step; a full-length carbon-fibre plate helps propel you forwards with ease; and a heel-to-toe ZoomX foam midsole helps keep you fresh from start to 26.2.</p>
                 </div></li>
                 <li>
                    <div class="shoepics">
                        <a href=""><img src="/public/assets/shoe2.1.png" alt="" srcset=""></a>
                        <a href=""><img src="/public/assets/shoe2.2.png" alt="" srcset=""></a>
                        <a href=""><img src="/public/assets/shoe2.3.png" alt="" srcset=""></a>
                        <a href=""><img src="/public/assets/shoe2.4.png" alt="" srcset=""></a>
                        <a href=""><img src="/public/assets/shoe2.51.png"   srcset=""></a>
                    </div>
                 </li>
            </ul>
        </div>
        <div class="cards ">
            <ul>
                <li>
                    <img src="/public/assets/shoe3main.png" alt="">
                </li> 
                 <li><div class="info">
                    <h2 style="font-weight: 700;">Nike Mercurial Superfly 10 Elite Electric</h2>
                    <h2 style="font-weight: 700;">FG High-Top Football Boot</h2>
                    <h4 style="padding-top: 35px;">MRP : ₹ 24 595.00</h4>
                    <p style="color: rgba(128, 128, 128, 0.649);">incl. of taxes(Also includes all applicable duties)</p>
                    <br>
                    <button style="margin-left: 0;">S</button>
                    <button>L</button>
                    <button>Xl</button>
                    <br><button id="favourite">Favourite <svg style="background-color: #242424; height:20px
                        " xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"/></svg></button>
                    <p style="padding-top: 40px; padding-right: 30px; color: grey;"> That's why we made this Elite boot with an improved 3/4-length Air Zoom unit. It gives you and the sport's fastest players the propulsive feel needed to break through the back line. The result is the most responsive Mercurial we've ever made, because you demand greatness from yourself and your footwear. </div></li>
                 <li>
                    <div class="shoepics">
                        <a href=""><img src="/public/assets/shoe3.1.png" alt="" srcset=""></a>
                        <a href=""><img src="/public/assets/shoe3.2.png" alt="" srcset=""></a>
                        <a href=""><img src="/public/assets/shoe3.3.png" alt="" srcset=""></a>
                        <a href=""><img src="/public/assets/shoe3.4.png" alt="" srcset=""></a>
                        <a href=""><img src="/public/assets/shoe3.5.jpeg" alt="" srcset=""></a>
                    </div>
                 </li>
            </ul>
        </div>
       
    </div>
</body>

</html>